* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #ddd;
  font-family: Arial, Helvetica, sans-serif;
}

body.main {
  overflow: hidden;
}

.linkReset {
  color: black;
  text-decoration: none;
}

.wrapper {
  max-width: 1280px;
  margin: 0 auto;
  background-color: #ccc;
  -webkit-box-shadow: 0 5px 20px #666;
          box-shadow: 0 5px 20px #666;
}

.clearfix::after {
  content: "";
  clear: both;
  display: block;
}

.break20 {
  height: 20px;
}

.hamIcon {
  position: fixed;
  z-index: 5;
  top: 15px;
  right: 20px;
  color: white;
  font-size: 50px;
}

.hamIcon .open-icon,
.hamIcon .close-icon {
  display: none;
  cursor: pointer;
}

.hamIcon .open-icon.active,
.hamIcon .close-icon.active {
  display: block;
}

.hamMenu {
  position: absolute;
  top: 0;
  right: -300px;
  width: 300px;
  height: 100vh;
  background-color: #000;
  color: white;
  padding: 20px;
  -webkit-transition: .15s;
  transition: .15s;
}

.hamMenu.active {
  right: 0;
}

.hamMenuList {
  list-style: none;
}

.hamMenuList a {
  color: white;
  font-size: 24px;
  font-weight: 800;
  text-decoration: none;
}

.hamMenuList a:hover {
  text-decoration: underline;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 30px 0;
  background-color: rgba(0, 0, 0, 0.2);
}

.menu__wrap {
  min-width: 1024px;
  margin: 0 auto;
}

.menu__item {
  padding: 10px 30px;
  color: white;
  font-weight: 800;
  font-size: 32px;
  -webkit-transition: color .15s;
  transition: color .15s;
}

.menu__item:hover {
  color: #4c49dd;
}

.menu__item--contact {
  margin-left: 30px;
  border: 2px solid;
  border-radius: 15px;
  -webkit-transition: background-color .15s;
  transition: background-color .15s;
}

.menu__item--contact:hover {
  background-color: #fbff09;
  color: #333;
}

.mainpage {
  height: 100vh;
  width: 100vw;
  background-image: url(../img/mainbackground.png);
  background-position: center 60%;
  background-size: cover;
}

.about {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
  color: white;
}

.about__name {
  font-size: 88px;
  font-weight: 700;
  text-shadow: 0 0 10px #000;
}

.about__myHobby {
  font-size: 48px;
  font-weight: 100;
  text-shadow: 0 0 5px #000;
}

.aboutme {
  padding: 40px 20px;
}

.aboutme__image--floatleft {
  float: left;
  margin: 0 20px 20px 0;
}

.aboutme__image--floatright {
  float: right;
  margin: 0 0 20px 20px;
}

.aboutme__text {
  font-size: 24px;
}

.aboutme__text--quote {
  font-weight: 800;
  padding: 20px 40px 20px 80px;
  font-size: 32px;
}

.uslugi {
  padding: 40px 20px;
}

.uslugi__title {
  font-weight: 800;
  text-transform: uppercase;
  text-align: center;
  font-size: 40px;
  margin-bottom: 40px;
  color: #222;
}

.uslugi__list {
  list-style: none;
}

.uslugi__usluga {
  margin-top: 68px;
}

.uslugi__uslugaSubtitle {
  margin-top: 20px;
}

.uslugi__uslugaTitle {
  text-transform: uppercase;
  font-size: 24px;
  font-weight: 900;
  letter-spacing: .5px;
}

.uslugi__uslugaImage {
  margin: 0 20px;
  float: left;
}

.uslugi__uslugaText {
  line-height: 1.75;
  font-size: 20px;
}

.uslugi__uslugaList {
  margin-top: 10px;
  list-style: none;
}

.uslugi__uslugaListItem {
  font-size: 20px;
  margin-bottom: 10px;
}

.portfolio__title {
  text-transform: uppercase;
  text-align: center;
  font-size: 60px;
  font-weight: 800;
  padding: 30px 0;
}

.portfolio__gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.portfolio__galleryItem {
  -ms-flex-preferred-size: calc(100%/3);
      flex-basis: calc(100%/3);
  padding: 20px;
  overflow: hidden;
  aspect-ratio: 1/1;
}

.portfolio__galleryItemImage {
  height: 100%;
}

.gear__product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 300px;
  margin-bottom: 50px;
}

.gear__product:last-child {
  margin-bottom: 0;
}

.gear__productImgContainer {
  -ms-flex-preferred-size: 40%;
      flex-basis: 40%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.gear__productImg {
  height: 100%;
}

.gear__productDesc {
  -ms-flex-preferred-size: 60%;
      flex-basis: 60%;
  padding: 30px;
}

.gear__productDescTitle {
  font-size: 32px;
}

.gear__productDescText {
  font-size: 24px;
}

.contact {
  min-height: 75vh;
  position: relative;
}

.contact__buttons {
  text-align: center;
  padding-top: 20px;
}

.contact__btn {
  background-color: transparent;
  border: 2px solid black;
  border-radius: 8px;
  font-size: 20px;
  margin: 0 10px;
  padding: 10px 20px;
  -webkit-transition: background-color .15s, color .15s;
  transition: background-color .15s, color .15s;
}

.contact__btn--yellow:hover {
  background-color: #fff000;
}

.contact__btn--black:hover {
  background-color: #000;
  color: white;
}

.contact__btn--white:hover {
  background-color: #fff;
}

.contact__btn--green:hover {
  background-color: #0f0;
}

.contact__btn--blue:hover {
  background-color: #00f;
  color: white;
}

.contact__btn--orange:hover {
  background-color: #ff8000;
}

.contact__btn--gray:hover {
  background-color: #c0c0c0;
}

.contact__btn--red:hover {
  background-color: #f00;
  color: white;
}

.contact__info {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.contact__data {
  font-size: 32px;
  padding: 20px;
  font-weight: 800;
}

.footer {
  background-color: #000;
  padding: 10px 0;
}

.footer .clock {
  color: white;
  padding-left: 20px;
  padding-top: 10px;
}

.footer .wrapper {
  background-color: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.footer__text {
  color: white;
  font-size: 12px;
  text-align: center;
}
/*# sourceMappingURL=style.css.map */