.login {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;

  .heading {
    font-size: 36px;
    text-transform: uppercase;
    font-weight: 900;
    margin-bottom: 50px;
  }

  .label {
    // padding: 10px;
    font-size: 24px;
  }

  .inputbox {
    font-size: 16px;
    padding: 10px 20px;
    border: 1px solid black;
    border-radius: 50px;
    margin-bottom: 25px;
    font-weight: bold;

    &.password {
      margin-bottom: 50px
    }
  }

  .submitbutton {
    background: yellowgreen;
    font-weight: 900;
    color: white;
    font-size: 16px;
    border: 2px solid black;
    padding: 10px 30px;
    border-radius: 50px;

    &:hover {
      background: rgb(128, 175, 34);
    }
  }
}