// reset initial style values
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #ddd;
  font-family: Arial, Helvetica, sans-serif;
}

.linkReset {
  color: black;
  text-decoration: none;
}

.wrapper {
  max-width: 1280px;
  margin: 0 auto;
  background-color: #ccc;
  box-shadow: 0 5px 20px #666;
}

.clearfix::after {
  content: "";
  clear: both;
  display: block;
}

.break20 {
  height: 20px;
}

// top menu styles
.menu {
  display: flex;
  padding: 30px 0;
  background-color: rgba($color: #000000, $alpha: .2);

  &__wrap {
    min-width: 1024px;
    margin: 0 auto;
  }

  &__item {
    padding: 10px 30px;
    color: white;
    font-weight: 800;
    font-size: 32px;
    transition: color .15s;

    &:hover {
      color: rgb(76, 73, 221);
    }

    &--contact {
      margin-left: 30px;
      border: 2px solid;
      border-radius: 15px;
      transition: background-color .15s;

      &:hover {
        background-color: rgb(251, 255, 9);
        color: #333;
      }
    }

  }
}


// start page style
.mainpage {
  height: 100vh;
  width: 100vw;
  background-image: url(../assets/mainbackground.png);
  background-position: center 60%;
  background-size: cover;
}

.about {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  text-align: center;
  color: white;

  &__name {
    font-size: 88px;
    font-weight: 700;
    text-shadow: 0 0 10px #000;
  }

  &__myHobby {
    font-size: 48px;
    font-weight: 100;
    text-shadow: 0 0 5px #000;
  }
}


// aboutme page styles
.aboutme {
  padding: 40px 20px;

  &__image {

    &--floatleft {
      float: left;
      margin: 0 20px 20px 0;
    }

    &--floatright {
      float: right;
      margin: 0 0 20px 20px;
    }
  }

  &__text {
    font-size: 24px;

    &--quote {
      font-weight: 800;
      padding: 20px 40px 20px 80px;
      font-size: 32px;

    }
  }
}

//uslugi styles
.uslugi {
  padding: 40px 20px;

  &__title {
    font-weight: 800;
    text-transform: uppercase;
    text-align: center;
    font-size: 40px;
    margin-bottom: 40px;
    color: #222
  }

  &__list {
    list-style: none;
  }

  &__usluga {
    margin-top: 68px;

    &Subtitle {
      margin-top: 20px;
    }

    &Title {
      text-transform: uppercase;
      font-size: 24px;
      font-weight: 900;
      letter-spacing: .5px;
    }

    &Image {
      margin: 0 20px;
      float: left;
    }

    &Text {
      line-height: 1.75;
      font-size: 20px;
    }

    &List {
      margin-top: 10px;
      list-style: none;

      &Item {
        font-size: 20px;
        margin-bottom: 10px;
      }
    }
  }
}


//portfolio styles
.portfolio {
  &__title {
    text-transform: uppercase;
    text-align: center;
    font-size: 60px;
    font-weight: 800;
    padding: 30px 0;
  }

  &__gallery {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

    &Item {
      flex-basis: calc(100%/3);
      padding: 20px;
      overflow: hidden;
      aspect-ratio: 1/1;

      &Image {
        height: 100%;
      }
    }
  }
}

.gear {
  &__product {
    display: flex;
    height: 300px;
    margin-bottom: 50px;

    &:last-child {
      margin-bottom: 0;
    }

    &ImgContainer {
      flex-basis: 40%;
      overflow: hidden;
      display: flex;
      justify-content: center;
    }

    &Img {
      height: 100%;
    }

    &Desc {
      flex-basis: 60%;
      padding: 30px;

      &Title {
        font-size: 32px;
      }

      &Text {
        font-size: 24px;
      }
    }
  }
}

.contact {
  min-height: 75vh;
  position: relative;

  &__buttons {
    text-align: center;
    padding-top: 20px;
  }

  &__btn {
    background-color: transparent;
    border: 2px solid black;
    border-radius: 8px;
    font-size: 20px;
    margin: 0 10px;
    padding: 10px 20px;
    transition: background-color .15s, color .15s;

    &--yellow:hover {
      background-color: #fff000;
    }

    &--black:hover {
      background-color: #000;
      color: white;
    }

    &--white:hover {
      background-color: #fff;
    }

    &--green:hover {
      background-color: #0f0;
    }

    &--blue:hover {
      background-color: #00f;
      color: white;
    }

    &--orange:hover {
      background-color: #ff8000;
    }

    &--gray:hover {
      background-color: #c0c0c0;
    }

    &--red:hover {
      background-color: #f00;
      color: white;
    }


  }

  &__info {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &__data {
    font-size: 32px;
    padding: 20px;
    font-weight: 800;
  }
}


// footer styles
.footer {
  background-color: #000;
  padding: 10px 0;

  .clock {
    color: white;
    padding-left: 20px;
    padding-top: 10px;
  }

  .wrapper {
    background-color: transparent;
    box-shadow: none;
  }

  &__text {
    color: white;
    font-size: 12px;
    text-align: center;
  }
}